{% extends "base.html" %}
 
  <div class="inner cover">
  		<h1 class="cover-heading">Manage Your Movies</h1>
            <p class="lead">Movie Manager will categorize movies by genre, actors, title, year, and rating.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Get Started</a>
            </p>
          </div>
   <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>

        

          
         

{% block content %}
<h1>{{ title }}</h1>

{{ user }}

{{ request.user }}

<form method='POST' action=''>{% csrf_token %}
{{ form.as_p }}

<input type='submit' value='Submit' />

</form>	

{% endblock %}